<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="smoke" > //"Nopackage"
        <classes>
            <class name="tests.LoginTests" /> //NoPackageTest" ->tests/LoginTests.java
        </classes>
    </test>

    <test name="Regression"> //Regression1
        <classes>
            <class name="tests.LoginTests"/> //test.sample.ParameterSample
            <class name="tests.RegistrationTests"/> //test.sample.ParameterSample
        </classes>
    </test>
</suite>
